<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}stationery shop{% endblock %}</title>
        <link rel="icon" href="/assets/images/vector-logo-icon-stationery-store-200396902-fococlipping-standard.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {{ knp_menu_render('main') }}


    <ul>
        <li>
            <a href="{{path('app_login')}}">login</a>
        </li>
        <li>
            <a href="{{path('app_logout')}}">logout</a>
        </li>
        <li>
            <a href="{{path('app_register')}}">registration</a>
        </li>
    </ul>
        {% block body %}{% endblock %}
    </body>
</html>
