{% extends 'base.html.twig' %}

{% block title %}Registration Page | {{parent () }}{% endblock %}

{% block body %}
        <form>
                <h1 class="text-6xl pt-12 pb-8">
                        Register
                </h1>
    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.email )}}

   {{ form_row(registrationForm.plainPassword, {label: 'Password '} ) }}

    {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary mb-4">Register</button>

       {{ form_end(registrationForm) }}
</form>
{% endblock %}
