{% extends 'base.html.twig' %}

{% block title %}Paper index{% endblock %}

{% block body %}
    <h1>Paper index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Type</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        {% for paper in papers %}
            <tr>
                <td>{{ paper.name }}</td>
                <td>{{ paper.price }}</td>
                <td>{{ paper.description }}</td>
                <td>{{ paper.type }}</td>
                <td>{{ paper.image }}</td>
                <td>
                    <a href="{{ path('app_paper_show', {'id': paper.id}) }}">show</a>
                    {% if is_granted("[ROLE_USER,ROLE_ADMIN] ") %}
                    <a href="{{ path('app_paper_edit', {'id': paper.id}) }}">edit</a>
                    {%endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_MANAGER") %}
        <a class="btn btn-primary "href="{{ path('app_paper_new') }}">Create new</a>
    {% endif %}

{% endblock %}
