{% extends 'base.html.twig' %}

{% block title %}Paper index{% endblock %}

{% block body %}
    <h1>Paper index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Type</th>
                <th>Image</th>
                <th>ImageFile</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paper in papers %}
            <tr>
                <td>{{ paper.id }}</td>
                <td>{{ paper.name }}</td>
                <td>{{ paper.price }}</td>
                <td>{{ paper.description }}</td>
                <td>{{ paper.type }}</td>
                <td>{{ paper.image }}</td>
                <td>{{ paper.imageFile }}</td>
                <td>{{ paper.deletedAt ? paper.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_paper_show', {'id': paper.id}) }}">show</a>
                    <a href="{{ path('app_paper_edit', {'id': paper.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paper_new') }}">Create new</a>
{% endblock %}
