{% extends 'base.html.twig' %}

{% block title %}Paper{% endblock %}

{% block body %}
    <h1>Paper</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paper.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ paper.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ paper.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ paper.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ paper.type }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ paper.image }}</td>
            </tr>
            <tr>
                <th>ImageFile</th>
                <td>{{ paper.imageFile }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ paper.deletedAt ? paper.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paper_index') }}">back to list</a>

    <a href="{{ path('app_paper_edit', {'id': paper.id}) }}">edit</a>

    {{ include('paper/_delete_form.html.twig') }}
{% endblock %}
