{% extends 'base.html.twig' %}

{% block title %}Planner Page | {{parent () }}{% endblock %}

{% block body %}
    <h1>Planner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Type</th>
                <th>Image</th>

            </tr>
        </thead>
        <tbody>
        {% for planner in planners %}
            <tr>
                <td>{{ planner.name }}</td>
                <td>{{ planner.price }}</td>
                <td>{{ planner.description }}</td>
                <td>{{ planner.type }}</td>
                <td>{{ planner.image }}</td>
                <td>
                    <a href="{{ path('app_planner_show', {'id': planner.id}) }}">show</a>
                    {% if is_granted("[ROLE_USER,ROLE_ADMIN] ") %}
                    <a href="{{ path('app_planner_edit', {'id': planner.id}) }}">edit</a>
                    {%endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("[ROLE_USER,ROLE_ADMIN] ") %}
        <a class="btn btn-primary " href="{{ path('app_planner_new') }}">Create new</a>
    {% endif %}

{% endblock %}
